body{

    padding: 0%;
    margin: 0%;
   

    background-image: url(../imagens/fundo\ login.jpg);
    background-size: cover;
}

.div_imagem {

    
    height: 520px;
    width: 500px;

}

.div_form {

    height: 480px;

    background-color: rgba(0,0,0,0.3);
    margin-right: 40px;
    border-radius: 20px;
}

.div_form input{

    padding: 5px;
    padding-left: 8px;
    
    color: white;
    border: none;
    border-radius: 20px;
    font-size: medium;
    background-color: rgba(20,20,20,0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
    
}

.fundo{

    margin-top: 1%;
    border-top: 1px solid white;
    width: 100%;

}

.fundo p{

    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}