body{

    padding: 0%;
    margin: 0%;
    background-image: url(../imagens/stage.png);
    background-size: cover;

}

::selection 
{
     background: rgb(121,16,37); 
     color: rgb(100, 171, 241); 
}

.div_form {

    height: 540px;
    margin-top: 30px;
    margin-right: 25%;

    display: flex;
    justify-content: flex-end;

    background-color: rgba(10,100,200,0.9);
    border-radius: 20px;
}

.div_form p{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.div_form input{
    
    color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    font-size: medium;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

.imagemFundo {
    display: flex;
    justify-content: space-around;   
}