.campo{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
    
.front div{
    color: white;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    position: inherit;
    height: 233px;
    width: 165px;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.front button {
    position: absolute;
}

.front{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}

.enemy{
    border: solid 3px red;

}

.ally{
    align-content: center;
    border: solid 3px blue;
}

.times{
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.front p{
  
    font-style: italic;
    color: white;
    position: inherit;
    margin-top: 10%;
    text-align: center;
}
