
.div_form div{


    margin: 20px;

    height: 580px;
    width: 300px;
    gap: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    border-radius: 40px;

    
}



.div_form button{

    width: 180px;
    height: 35px;
    border-radius:  20px;
    margin-top: 20%;
    margin-bottom: 20%;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 16, 37);

    background-color: rgb(100, 171, 241);

}

.div_form button:hover{

    transition: 1s;
    color: rgb(100, 171, 241) ;
    background-color: rgb(121, 16, 37);

}

.div_form a{

    color: white;
    display: flex;
    justify-content: center;

    text-decoration: none;

    font-size: 15px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
