*{
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
    background-color: rgb(175, 173, 183);
    
}



.banner {

    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
    width: 100%;
    
}

.carrossel{

    box-shadow: 6px 6px 7px black;
    overflow: hidden;
    height: 650px;
    width: 1360px;

}

img{
    width: 1375px;
    background-size: cover;
}

h1{

    margin-right: 2%;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 6%;
}

.container{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.texto{

    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    gap: 30px;
}

.texto div{
    
    
    width: 50%;
    height: 100%;
    border: 2px solid black;
    color: black;
    
    border-radius: 20px;
}


.texto p{


    display: flex;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.texto h2{
    text-align: center;
}

#sobre{
    margin-right: 15%;
}

.fundo{

    margin-top: 5%;
    height: 18px;
    width: 100%;

}

.fundo p{

    padding: 1%;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}