body{

    padding: 0%;
    margin: 0%;
    background-image: url(../imagens/fundo\ cadastro.jpg);
    background-size: cover;

}

.div_form {

    height: 500px;
    margin-top: 35px;
    background-color: rgba(10,100,200,0.9);
    margin-right: 25%;
    border-radius: 20px;
    
}

.div_form a{
    font-size: 17px;

}

.div_form input{

    padding: 5px;
    padding-left: 8px;
    
    color: white;
    border: none;
    border-radius: 20px;
    font-size: medium;
    background-color: rgba(20,20,20,0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#span_msg{

    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}