body{
    padding: 0;
    margin: 0;

    background-image: url(https://cdn.shopify.com/s/files/1/0287/6024/4268/collections/Marvel-Titan-Pop-Culture-877_1200x1200.png?v=1678055777);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-color: gray;

}

.conteudo{

    height: 100%;
    display: flex;

        
}

.personagens{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 2000px;    
}

.personagens img{
    
    border-radius: 50px 0px 50px 0px;
    cursor: pointer;

}



.tutorial p{
    width: 100px;
    text-align: center;
    flex-direction: row;
}

.tutorial #def{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(10, 131, 168);
}

.tutorial #att{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(221, 28, 14);
}

.tutorial #heal{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(34, 228, 16);
}

.card{
    width: 140%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;


}
.carta{
    width: 170px;
    height: 251px;
    border: black 2px solid;
    
    box-shadow: 2px 5px 5px 3px black;
    
    background-color: rgb(236, 138, 8);
}

.retangulo div{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35px;
    width: 120px;
}

.imagens img{

    height: 150px;
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
    position: absolute;

}

.nome{ 
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;

    padding-top: 25px;

    font-size: 20px;

    text-align: end;
    height: 0px;
}

.ataque{
    align-items: center;

    border-radius: 0 50px 0 0;

    background-color: rgb(221, 28, 14);

}

.retangulo .hp{

    align-items: center;

    height: 20px;
    margin-top: 15px;
    border-radius: 50px 50px 0 0 ;

    background-color: rgb(34, 228, 16);

}

.defesa{
    
    align-items: center;
    border-radius: 50px 0 0 0;

    background-color: rgb(10, 131, 168);

}

.retangulo{

display: flex;
width: 170px;
height: 417px;
position: absolute;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
}

.fundo{

    margin-top: 5%;
    border-top: 1px solid white;
    width: 100%;

}

.fundo p{

    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}