body{
    padding: 0;
    margin: 0;
    background-color: rgb(175, 173, 183);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.conteudo{

    height: 100%;
    display: flex;

        
}

.botao{

    display: flex;
    justify-content: center;
    width: 100%;
}

.fight{
    
    height: 60px;
    width: 150px;
    border-radius: 10px;

    font-size: large;
    background-color: dodgerblue;
    border: solid 3px;
    animation-name: lutar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}
  
@keyframes lutar {
    from {border-color:red;}
    to {border-color: blue;}

}


.personagens{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 2000px;    
    cursor: pointer;
}

#div_viloes img{
    width: 170px;
    height: 251px;
    border: black 2px solid;
    
    box-shadow: 2px 5px 5px 3px black;
    
    background-color: rgba(36, 38, 8,0.2);
}


#div_viloes img:hover{
  
    
    background-color: rgba(6, 8, 8,0.9);
}

#div_heroes img:hover{
  
    
    background-color: rgba(6, 8, 8,0.9);
}


#div_heroes img{
    width: 170px;
    height: 251px;
    border: black 2px solid;
    
    box-shadow: 2px 5px 5px 3px black;
    
    background-color: rgba(36, 38, 8,0.2);
}


.tutorial p{
    width: 100px;
    text-align: center;
    flex-direction: row;
}

.tutorial #def{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(10, 131, 168);
}

.tutorial #att{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(221, 28, 14);
}

.tutorial #heal{

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(34, 228, 16);
}

.card{
    width: 140%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;


}
.carta{
    width: 170px;
    height: 251px;
    border: black 2px solid;
    
    box-shadow: 2px 5px 5px 3px black;
    
    background-color: rgba(36, 38, 8,0.2);
}

.retangulo div{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35px;
    width: 120px;
}

.imagens img{

    height: 150px;
    width: 150px;
    padding-top: 15px;
    padding-left: 10px;
    position: absolute;

}

.nome{ 
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;

    padding-top: 25px;

    font-size: 20px;

    text-align: end;
    height: 0px;
}

.ataque{
    align-items: center;

    border-radius: 0 50px 0 0;

    background-color: rgba(221, 28, 14,0.3);

}

.retangulo .hp{

    align-items: center;

    height: 20px;
    margin-top: 5px;
    border-radius: 50px 50px 0 0 ;

    background-color: rgba(34, 228, 16,0.3);

}

.hp{
    padding-top: 10px;
}

.defesa{
    
    align-items: center;
    border-radius: 50px 0 0 0;

    background-color: rgba(10, 131, 168,0.3);

}

.retangulo{

display: flex;
width: 170px;
height: 417px;
position: absolute;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
}

.fundo{

    margin-top: 5%;
    border-top: 1px solid white;
    width: 100%;

}

.fundo p{

    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}