body{

        padding: 0;
        margin: 0;
        background-color: rgb(30,30,30);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.grafico{


    height: 100%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;

}

.conteudo{

    height: 100%;
    width: 100%;

    color: white;

}

.div_traje{
    height: 30px ;
    width: 630px;
    gap: 20px;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico button{

    border-radius:  20px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;

    background-color: dodgerblue;
    box-shadow: 3px 3px rgb(80,80,80);

}

.grafico button:hover{

    transition: 0.75s;
    color: dodgerblue;
    background-color: crimson;
}

.grafico input{
    
    border: none;
    font-size: medium;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: white dashed 1px;
    background-color: rgba(30,30,30);
    
}


.div_persona{
    height: 30px ;
    width: 630px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo{

    margin-top: 5%;
    height: 18px;
    width: 100%;
    border-top: 1px solid white;

}

.fundo p{

    padding: 1%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}