body{

    padding: 0;
    margin: 0;
    background-color: white;     
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url();
}

.grafico{
    height: 100%;
    width: 90%;
    padding-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trajes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dashboardTraje{
    width: 100%;
}

.personagens{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dashboardPersonagens{
    width: 100%;
}

.mostruario{


    border:  3px solid red;
    padding-top: 400px;
    margin-top: 2%;
    margin-left: 10%;
    width: 500px;
}

.fundo{

    margin-top: 5%;
    height: 18px;
    width: 100%;
    border-top: 1px solid white;

}

.fundo p{

    padding: 1%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}